{% extends 'movies/base.html' %}
{% block title %} Checkout {% endblock %}
{% block body %}
{% load carton_tags %}
{% get_cart as cart %}


 <div class="container">
	<div class="row">
		<div class="col-xs-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-6">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</h5>
							</div>
							<a href="{% url 'movies:index' %}">
                                <div class="col-xs-6">
								<button type="button" class="btn btn-primary btn-sm btn-block">
									<span class="glyphicon glyphicon-share-alt"></span> Continue shopping
								</button>
							</div></a>
						</div>
					</div>
				</div>
                {% for item in cart.items %}
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-2"><img class="img-responsive" src="{{ item.product.Poster }}">
						</div>
						<div class="col-xs-4">
							<h4 class="product-name"><strong>{{ item.product }}</strong></h4>
						</div>

                        <div class="col-xs-6">
							<div class="col-xs-6 text-right">
								<h6><strong>${{ item.subtotal }}</strong></h6>
							</div>

							 <div class="col-xs-2">
                            <form action="{% url 'shopping:remove' item.product.id %}" name="id" method="GET" style="display: inline;">
                                {% csrf_token %}

                                     <input type="hidden" name="#" value="#" />
								<button type="submit" class="btn btn btn-xs">
									<span class="glyphicon glyphicon-trash"> </span>
								</button>

                            </form></div>

						</div>
					</div>
				</div>
                {% endfor %}
				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-xs-9">
							<h4 class="text-right">Total <strong>${{ cart.total }}</strong></h4>
						</div>
						<a href="{% url 'movies:payment' %}">
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-success btn-block">
								Checkout and Pay
							</button>
						</div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
